body {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.account-image {
  width: 45px;
  height: 45px;
}

.topic-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.topic-card {
  border-radius: 8px;
  background: #fff;
  height: 180px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.11);
}

.topic-card:hover {
  border: #5c0194 1px solid;
}

.topic-name {
  color: #fff;
  border-radius: 8px;
  background: #5c0194;
  padding: 0px 8px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.dashboard {
  width: 100%;
  border-radius: 20px;
}

.leaderboard-section {
  width: 50%;
  background-color: #fff;
  color: #000;
  border-radius: 20px 0 0 20px;
}

.play-section {
  width: 50%;
  background: rgb(176, 146, 255, 0.27);
  box-shadow: 0px 5px 25px rgba(57, 15, 86, 0.25);
  border-radius: 0 20px 20px 0;
  position: relative;
}

.table-header {
  padding: 12px;
  font-weight: 700;
  border-radius: 4px;
  background: #fff5e9;
}

.table-data {
  padding: 12px;
}

.play-btn {
  padding: 12px;
  color: #fff;
  border-radius: 4px;
  background: #5c0194;
  border: none;
}

.white-btn {
  padding: 12px;
  border-radius: 4px;
  background: #fff;
  border: none;
}

.top-left-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-right-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottom-left-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-content {
  padding: 12px;
  color: #fff;
  border: none;
  background: rgb(176, 146, 255, 0.27);
  box-shadow: 0px 5px 25px rgba(57, 15, 86, 0.25);
  border-radius: 20px;
  position: relative;
}

.utils {
  padding: 16px;
  background-color: #ffae41;
  border-radius: 8px;
  color: #fff;
  width: 65%;
}

.answer {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  margin-bottom: 18px;
}

.quiz {
  width: 50%;
}

.account {
  position: relative;
  display: inline-block;
}

.account-content {
  position: absolute;
  right: 0;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.account-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.account-content a:hover {
  color: #ffae41;
}

.logout {
  color: #000;
}

.logout:hover {
  color: #ffae41;
}

.add-topic-btn {
  padding: 6px 16px;
  color: #fff;
  border-radius: 4px;
  background: #5c0194;
  border: none;
}

.quiz-form {
  width: 50%;
}

.answer-form {
  padding-left: 20px;
  border-left: 6px solid #fff5e9;
}

/* Custom Radio Button */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: #ffae41;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.save-btn {
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
  background: #5c0194;
  color: #fff;
}

.correct {
  background-color: #70ba7c;
}

.wrong {
  background-color: #c60f0f;
}
